files:
  "/opt/elasticbeanstalk/tasks/bundlelogs.d/01_app.conf":
    content: |
      /var/app/current/npm-debug.log*

option_settings:
  aws:elasticbeanstalk:container:nodejs:
    GzipCompression: true
    ProxyServer: nginx
    NodeVersion: 18.17.0
  
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: false
    RetentionInDays: 7

  aws:elasticbeanstalk:xray:
    XRayEnabled: true

  aws:autoscaling:launchconfiguration:
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
    SecurityGroups: default

  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    NODE_PATH: /var/app/current/node_modules

commands:
  01_build:
    command: |
      #!/bin/bash
      source ~/.bashrc
      cd /var/app/staging
      npm install
      npm run build
    ignoreErrors: false

container_commands:
  01_install_dependencies:
    command: npm install --production
    leader_only: true
  02_build_app:
    command: npm run build
    leader_only: true
