.dashboard-layout {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 240px;
  background: #1e293b;
  color: white;
  padding: 30px 18px;
  display: flex;
  flex-direction: column;
}

.sidebar h2 {
  font-size: 20px;
  margin-bottom: 40px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.sidebar a {
  text-decoration: none;
  color: #cbd5e1;
  padding: 14px 16px;
  border-radius: 8px;
  margin-bottom: 8px;
  transition: all 0.2s ease;
  font-size: 15px;
  font-weight: 500;
  display: flex;
  align-items: center;
  min-height: 48px;
}

.sidebar a:hover {
  background-color: #334155;
  color: white;
  transform: translateX(4px);
}

.sidebar button {
  margin-top: auto;
  padding: 14px;
  border: none;
  border-radius: 8px;
  background-color: #ef4444;
  color: white;
  cursor: pointer;
  transition: 0.2s;
  font-size: 14px;
  font-weight: 600;
}

.sidebar button:hover {
  background-color: #dc2626;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.navbar {
  height: 60px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.navbar h3 {
  color: #1e3a8a;
}

.content {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.dashboard-card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
  transition: 0.3s;
  cursor: pointer;
}

.dashboard-card:hover {
  transform: translateY(-5px);
}

/* BOTÓN EDITAR */
.btn-edit {
  width: auto;
  padding: 8px 16px;
  background-color: #10b981; /* verde */
  border-radius: 8px;
  margin-right: 10px;
}

.btn-edit:hover {
  background-color: #059669;
}

/* BOTÓN ELIMINAR */
.btn-delete {
  width: auto;
  padding: 8px 16px;
  background-color: #ef4444; /* rojo */
  border-radius: 8px;
}

.btn-delete:hover {
  background-color: #dc2626;
}
